.whole{
    background-color: #F9F3EC;
    display: grid;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: 4fr 1fr;
    margin: 0;
}

.aboutdocs{
    display:flex;
    color: #5394A0;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    margin-bottom: 20px;
}

.left{
    background-color: #F9F3EC;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/4;
    margin-top: -10px;
    margin-bottom: -10px;
    margin: 0;
}

.buttons1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 25px;


}

.head{
    align-items: center;
    text-align: center;
}

.textarea{
    border: 3px solid #5394A0;
    background-color: azure;
    border-radius: 5px;
    margin-right: 15px;
    margin-left:15px;



}


.a{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
}





